.underline-effect {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #0073b5;
    transition: all 0.3s ease-in-out;
  }

  &:hover:after {
    width: 100%;
  }
}

.carousel-item-padding-4-px {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.transition-duration-2000 {
  transition-duration: 2000ms;
}
